@using Capstone.Web.Models;
@model Park
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<div id="detaillinkdiv">@Html.ActionLink($"Five Day Forecast for {@Model.Name}", "Forecast", "Park", new { id = @Model.ParkCode, name = Model.Name }, new { id = "detaillink" })</div>
<div id="wholedetail">
    <div id="topdiv">
        <img id="detailimage" src="~/Content/img/parks/@(Model.ParkCode).jpg" />
        <div>
            <div id="quotediv">
                <p id="quote">"@Model.InspirationalQuote"</p>
                <p id="person">-@Model.InspirationQuoteSource</p>
            </div>
            <p id="description">@Model.Description</p>
        </div>
    </div>
    <div id="detaillistdiv">
        <ul>

            <li>State: @Model.State</li>
            <li>Acreage: @Model.Acreage.ToString("N0")</li>
            <li>Elevation: @Model.Elevation.ToString("N0") ft.</li>
            <li>Miles of Trail: @Model.MilesOfTrail.ToString("N0")</li>
            <li>Number of Campsites: @Model.NumberOfCampsites.ToString("N0")</li>
        </ul>
        <ul>
            <li>Climate: @Model.Climate</li>
            <li>Year Founded: @Model.YearFounded</li>
            <li>Annual Visitor Count: @Model.AnnualVisitorCount.ToString("N0")</li>
            <li>Number of Animal Species: @Model.NumberOfAnimalSpecies.ToString("N0") </li>
            <li>Entry Fee: @Model.EntryFee.ToString("C")</li>

        </ul>
    </div>
</div>

