@using Capstone.Web.Models
@model FiveDayForecast
@{
    ViewBag.Title = "FiveDayForecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FiveDayForecast for @Model.ParkName</h2>


@using (Html.BeginForm("FiveDayForecast", "Park", new { id = Model.Id, name = Model.ParkName }, FormMethod.Post))
{

<div id="radiobuttons">
    @Html.RadioButtonFor(m => m.IsFahrenheit, true) F
    @Html.RadioButtonFor(m => m.IsFahrenheit, false) C
    <button>submit</button>
</div>

}

<table>
    <tr>
        <td>Day</td>
        <td>Description</td>
        <td>Low</td>
        <td>High</td>
        <td>Recommended Attire</td>
    </tr>
    @{List<Forecast> list = Model.GetForecast(Model.Id);
    foreach (Forecast f in list)
    {
    <tr>
        <td>@f.GetDay()</td>
        <td>@f.ForeCast</td>

        @if (Model.IsFahrenheit)
        {
        <td>
            @f.Low
        </td>
        }
        else
        {
        <td>
        @Model.GetTempInCelsius(f.Low)
        </td>
        } 
        @if (Model.IsFahrenheit)
        {
            <td>
                @f.High
            </td>
        }
        else
        {
            <td>
                @Model.GetTempInCelsius(f.High)
            </td>
        }
        <td>
<td>@f.RecommendedAction()</td>


    </tr>
    }
    }
</table>
