@using Capstone.Web.Models
@model FiveDayForecast
@{
    ViewBag.Title = "Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="forecastheading">Five Day Forecast for @Model.ParkName</h2>

@using (Html.BeginForm("Forecast", "Park", new { id = Model.Id, name = Model.ParkName }, FormMethod.Post))
{

    <div id="radiobuttons">
        <p>Display temperature in:</p>
        <divid id="buttons">
            @Html.RadioButtonFor(m => m.IsFahrenheit, true) F
            @Html.RadioButtonFor(m => m.IsFahrenheit, false) C

            <button>submit</button>
        </divid>
    </div>

}

<div id="bigdiv">
    @{List<Forecast> list = Model.GetForecast(Model.Id);
        foreach (Forecast f in list)
        {
            <div class="forecastcolumn">
                <div class="day">@f.GetDay()</div>
                <div class="image"><img src="~/Content/img/weather/@(f.ForeCast).png" /></div>
                <div class="low">
                    Low:
                    @if (Model.IsFahrenheit)
                    {
                    @(f.Low)<p>°F</p>
                    }
                    else
                    {
                    @Model.GetTempInCelsius(f.Low)<p>°C</p>
                    }
                </div>
                <div class="high">
                    High:
                    @if (Model.IsFahrenheit)
                    {
                    @f.High<p>°F</p>
                    }
                    else
                    {
                        @Model.GetTempInCelsius(f.High)<p>°C</p>
                                        }
                </div>
                <div class="recommendation">
                    <p>We recommend you:</p>
                    @f.RecommendedAction()
                </div>
            </div>
        }
    }
</div>

