@using Capstone.Web.Models
@model List<Forecast>
@{
    ViewBag.Title = "Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forecast</h2>
<div id="tablediv">

    <table>


        @{
            for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    <tr>
                        <td>
                            @using (Html.BeginForm("Forecast", "Park", new { id = Model[i].IsFarenheit }, FormMethod.Get, null))
                            {
                                <div>
                                    @Html.RadioButtonFor(m => Model[i].IsFarenheit, 1, true)F
                                    @Html.RadioButtonFor(m => Model[i].IsFarenheit, 0, false)C
                                    <button>submit</button>
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Day</td>
                        <td>Description</td>
                        <td>High</td>
                        <td>Low</td>
                        <td>Recommended Attire</td>
                    </tr>
                }

                <tr class="forecast">
                    <td>@Model[i].GetDay()</td>
                    <td>@Model[i].ForeCast</td>
                    <td>@Model[i].GetHighTemp()</td>
                    <td>@Model[i].GetLowTemp()</td>
                    <td>@Model[i].RecommendedAction()</td>
                    <td></td>
                    }
                </tr>
            }
        }
    </table>




</div>
