@using Capstone.Web.Models;
@model Survey
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Survey</h2>
@using (Html.BeginForm("Index", "Survey", FormMethod.Post))
{
    <div class="survey">
        <div>
            @Html.Label("ParkCode", "Please select favorite park")
        </div>
        <div>
            @Html.DropDownListFor(m => m.ParkCode, Survey.FavoritePark)
        </div>
    </div>
    <div class="survey">
        <div>
            @Html.Label("EmailAddress", "email address: ")
        </div>
        <div>
            @Html.TextBoxFor(m => m.EmailAddress)
        </div>
    </div>
    <div class="survey">
        <div>
            @Html.Label("State", "State: ")
        </div>
        <div>
            @Html.TextBoxFor(m => m.State)
        </div>
    </div>
    <div class="survey">
        <div>
            @Html.Label("ActivityLevel", "What is your activity level?")
        </div>
        <div>
            @Html.DropDownListFor(m => m.ActivityLevel, Survey.PhysicalActivityLevel)
        </div>
        <div>
            <button>Submit!</button>
        </div>
    </div>


  
}
